@font-face {
  font-family: "iconfont"; /* Project id 1664105 */
  src: url('iconfont.woff2?t=1633195858411') format('woff2'),
       url('iconfont.woff?t=1633195858411') format('woff'),
       url('iconfont.ttf?t=1633195858411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconic_room_pk_select:before {
  content: "\e6a6";
}

.iconic_room_pk_selected:before {
  content: "\e6a5";
}

.iconic_login_weixin:before {
  content: "\e6a4";
}

.iconic_voice_live_zaixianbang_question:before {
  content: "\e6a0";
}

.iconic_voice_live_zaixianbang_renovate:before {
  content: "\e69e";
}

.icondefault_icon_white_edit-two:before {
  content: "\e68f";
}

.iconquwan_login_close:before {
  content: "\e698";
}

.iconic_login_qq:before {
  content: "\e692";
}

.iconweibo:before {
  content: "\e68e";
}

.iconwechat:before {
  content: "\e690";
}

.iconcommon_help:before {
  content: "\e67d";
}

.iconic_room_collect:before {
  content: "\e689";
}

.iconic_mic_lock:before {
  content: "\e68a";
}

.iconic_room_exit:before {
  content: "\e68d";
}

.iconic_room_more_default:before {
  content: "\e691";
}

.iconic_room_share:before {
  content: "\e688";
}

.iconic_im_expression_default:before {
  content: "\e675";
}

.iconic_navbar_message_ignore:before {
  content: "\e686";
}

.iconic_live_room_pk:before {
  content: "\e678";
}

.iconnav_ico_collection:before {
  content: "\e681";
}

.iconic_human_number_small:before {
  content: "\e673";
}

.iconic_human_number:before {
  content: "\e677";
}

.iconic_live_room_gift1:before {
  content: "\e695";
}

.icongift1:before {
  content: "\e693";
}

.iconic_mic_default:before {
  content: "\e683";
}

.iconico_live_roomtag:before {
  content: "\e676";
}

.iconic_settings1:before {
  content: "\e66a";
}

.iconic_home_roomlist1:before {
  content: "\e682";
}

.iconic_voice_full:before {
  content: "\e69f";
}

.iconic_wlan:before {
  content: "\e6a1";
}

.iconico_help:before {
  content: "\e6a2";
}

.iconic_room_voice_off:before {
  content: "\e6a3";
}

.iconico_selected-vert:before {
  content: "\e64f";
}

.iconico_selected:before {
  content: "\e653";
}

.iconnav_ico_contact1:before {
  content: "\e657";
}

.iconnav_ico_suggestion:before {
  content: "\e659";
}

.iconarrow:before {
  content: "\e65c";
}

.iconic_entertainmentroom_empty_seat:before {
  content: "\e65e";
}

.iconnav_ico_search:before {
  content: "\e65f";
}

.iconic_admin_cancel:before {
  content: "\e660";
}

.iconic_fllow_cancel:before {
  content: "\e661";
}

.iconic_fllow:before {
  content: "\e662";
}

.iconic_esc:before {
  content: "\e663";
}

.iconedit:before {
  content: "\e664";
}

.iconic_fans_fllowed:before {
  content: "\e665";
}

.iconic_arrow:before {
  content: "\e666";
}

.iconic_fllow_room:before {
  content: "\e667";
}

.iconic_flow_lockroom1:before {
  content: "\e668";
}

.iconic_fllowed:before {
  content: "\e669";
}

.iconhomepage_logo:before {
  content: "\e66b";
}

.iconic_home_collection:before {
  content: "\e66c";
}

.iconnav_ico_settings:before {
  content: "\e66d";
}

.iconic_home_flowroom:before {
  content: "\e66e";
}

.iconic_home_history:before {
  content: "\e66f";
}

.iconic_home_playing:before {
  content: "\e670";
}

.iconic_home_invite:before {
  content: "\e671";
}

.iconic_home_roomlist_roomperson:before {
  content: "\e672";
}

.iconic_home_live:before {
  content: "\e674";
}

.iconic_live_flow_bold:before {
  content: "\e679";
}

.iconic_live_fansteam_person:before {
  content: "\e67a";
}

.iconic_live_flowed_bold:before {
  content: "\e67b";
}

.iconic_ignore:before {
  content: "\e67c";
}

.iconic_live_room_announcement:before {
  content: "\e67e";
}

.iconic_live_room_flowed:before {
  content: "\e67f";
}

.iconic_live_room_flow:before {
  content: "\e680";
}

.iconic_liveroom_left:before {
  content: "\e684";
}

.iconic_message:before {
  content: "\e685";
}

.iconic_lock:before {
  content: "\e687";
}

.iconic_open:before {
  content: "\e68b";
}

.iconic_packup:before {
  content: "\e68c";
}

.iconic_room_mic_talking-xiugai1:before {
  content: "\e694";
}

.iconic_room_mic_off:before {
  content: "\e696";
}

.iconic_roontag:before {
  content: "\e697";
}

.iconic_talk_switch:before {
  content: "\e699";
}

.iconic_tip_cancel:before {
  content: "\e69a";
}

.iconic_setting:before {
  content: "\e69b";
}

.iconic_room_sendroom:before {
  content: "\e69c";
}

.iconic_tips:before {
  content: "\e69d";
}

.iconnav_ico_myroom:before {
  content: "\e64e";
}

.iconnav_ico_contact:before {
  content: "\e650";
}

.iconnav_ico_im:before {
  content: "\e651";
}

.iconnav_ico_history:before {
  content: "\e652";
}

.iconic_dailytasks5:before {
  content: "\e64d";
}

.iconnumber-eight:before {
  content: "\e643";
}

.iconnumber-nine:before {
  content: "\e644";
}

.iconnumber-three:before {
  content: "\e645";
}

.iconnumber-seven:before {
  content: "\e646";
}

.iconnumber-four:before {
  content: "\e647";
}

.iconnumber-six:before {
  content: "\e648";
}

.iconnumber-zero:before {
  content: "\e649";
}

.iconnumber-one:before {
  content: "\e64a";
}

.iconnumber-five:before {
  content: "\e64b";
}

.iconnumber-two:before {
  content: "\e64c";
}

.iconic_more:before {
  content: "\e642";
}

.iconic_id_copy:before {
  content: "\e641";
}

.iconroomname_edit:before {
  content: "\e640";
}

.iconic_flow_liveroom:before {
  content: "\e63f";
}

.iconic_flow_lockroom:before {
  content: "\e63d";
}

.iconic_flow_openroom:before {
  content: "\e63e";
}

.iconic_refresh:before {
  content: "\e63c";
}

.icongift:before {
  content: "\e63b";
}

.icontime:before {
  content: "\e63a";
}

.iconic_live_cover_change:before {
  content: "\e639";
}

.iconduigou:before {
  content: "\e637";
}

.iconchat-3-fill:before {
  content: "\e638";
}

.iconshangchuan:before {
  content: "\e636";
}

.iconic_live_end_im:before {
  content: "\e634";
}

.iconic_talk_switch_fuben:before {
  content: "\e633";
}

.iconic_wlan_:before {
  content: "\e632";
}

.iconic_room_voice_:before {
  content: "\e631";
}

.iconic_room_share_:before {
  content: "\e630";
}

.iconic_room_settings_:before {
  content: "\e62f";
}

.iconic_room_more_default_:before {
  content: "\e62e";
}

.iconic_room_mic_default_:before {
  content: "\e62d";
}

.iconic_room_magicexpression_:before {
  content: "\e62c";
}

.iconic_room_exit_:before {
  content: "\e62b";
}

.iconic_room_collect_:before {
  content: "\e62a";
}

.iconic_mic_lock_:before {
  content: "\e629";
}

.iconic_im_expression_default_:before {
  content: "\e627";
}

.iconic_im_picture_:before {
  content: "\e626";
}

.iconic_esc_:before {
  content: "\e623";
}

.iconic_change_:before {
  content: "\e622";
}

.iconedit_normal-:before {
  content: "\e621";
}

.iconic_chongzhi-:before {
  content: "\e620";
}

.iconic_duihuan-:before {
  content: "\e61f";
}

.iconic_esc-:before {
  content: "\e61c";
}

.iconic_room_mic_talking-xiugai:before {
  content: "\e61b";
}

.iconsex-man:before {
  content: "\e619";
}

.iconsex-woman:before {
  content: "\e61a";
}

.iconlogin_arrow_down:before {
  content: "\e617";
}

.iconlogin_arrow_up:before {
  content: "\e618";
}

.iconlogin_ic_phone:before {
  content: "\e615";
}

.iconlogin_ic_password:before {
  content: "\e616";
}

.iconlogin_ic_account:before {
  content: "\e614";
}

